body{
background:#111;
color:white;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.container{
background:#1e1e1e;
padding:30px;
border-radius:10px;
width:450px;
box-shadow:0 0 10px rgba(0,0,0,0.5);
}

h1{
text-align:center;
margin-bottom:25px;
}

.section{
margin-bottom:20px;
}

label{
display:block;
margin-bottom:5px;
}

input,select,button{
width:100%;
padding:10px;
margin-top:5px;
border:none;
border-radius:5px;
font-size:16px;
}

button{
background:#3498db;
color:white;
cursor:pointer;
}

button:hover{
background:#2980b9;
}

#generateBtn{
background:#2ecc71;
}

#generateBtn:hover{
background:#27ae60;
}

#preview{
margin-top:10px;
background:#222;
padding:10px;
border-radius:5px;
font-size:14px;
color:#00ff9d;
}

.sliderValue{
text-align:right;
font-size:14px;
margin-top:3px;
}